body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Color Options --------------------------------------------- */
.has-primary-color {
  color: #05d8ff; }

.has-primary-background-color {
  background-color: #05d8ff; }

.has-primary-border-color {
  border-color: #05d8ff; }

.has-secondary-color {
  color: #282c34; }

.has-secondary-background-color {
  background-color: #282c34; }

.has-secondary-border-color {
  border-color: #282c34; }

.has-tertiary-color {
  color: #fac861; }

.has-tertiary-background-color {
  background-color: #fac861; }

.has-tertiary-border-color {
  border-color: #fac861; }

.has-white-color {
  color: white; }

.has-white-background-color {
  background-color: white; }

.has-white-border-color {
  border-color: white; }

.has-black-color {
  color: black; }

.has-black-background-color {
  background-color: black; }

.has-black-border-color {
  border-color: black; }

button,
.button {
  cursor: pointer;
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #05d8ff;
  background-color: #05d8ff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out; }
  button:hover, button:focus,
  .button:hover,
  .button:focus {
    background-color: #52e4ff;
    border-color: #52e4ff; }
  button[disabled], button.disabled,
  .button[disabled],
  .button.disabled {
    opacity: 0.7;
    cursor: default;
    color: white;
    background-color: #05d8ff;
    border-color: #05d8ff; }

/* Variation & Color Options --------------------------------------------- */
button.button-fill-primary,
.button.button-fill-primary {
  color: white;
  background-color: #05d8ff;
  border-color: #05d8ff; }
  button.button-fill-primary:hover, button.button-fill-primary:focus,
  .button.button-fill-primary:hover,
  .button.button-fill-primary:focus {
    background-color: #52e4ff;
    border-color: #52e4ff; }
  button.button-fill-primary[disabled], button.button-fill-primary.disabled,
  .button.button-fill-primary[disabled],
  .button.button-fill-primary.disabled {
    opacity: 0.7;
    cursor: default;
    color: white;
    background-color: #05d8ff;
    border-color: #05d8ff; }

button.button-outline-primary,
.button.button-outline-primary {
  color: #05d8ff;
  background-color: transparent;
  border-color: #05d8ff; }
  button.button-outline-primary:hover, button.button-outline-primary:focus,
  .button.button-outline-primary:hover,
  .button.button-outline-primary:focus {
    background-color: #9ef0ff;
    border-color: #9ef0ff; }
  button.button-outline-primary[disabled], button.button-outline-primary.disabled,
  .button.button-outline-primary[disabled],
  .button.button-outline-primary.disabled {
    opacity: 0.7;
    cursor: default;
    color: #05d8ff;
    background-color: transparent;
    border-color: #05d8ff; }

button.button-text-primary,
.button.button-text-primary {
  color: #05d8ff;
  background-color: transparent;
  border-color: transparent; }
  button.button-text-primary:hover, button.button-text-primary:focus,
  .button.button-text-primary:hover,
  .button.button-text-primary:focus {
    color: white;
    background-color: #05d8ff;
    border-color: #05d8ff; }
  button.button-text-primary[disabled], button.button-text-primary.disabled,
  .button.button-text-primary[disabled],
  .button.button-text-primary.disabled {
    opacity: 0.7;
    cursor: default;
    color: #05d8ff;
    background-color: transparent;
    border-color: transparent; }

button.button-fill-secondary,
.button.button-fill-secondary {
  color: white;
  background-color: #282c34;
  border-color: #282c34; }
  button.button-fill-secondary:hover, button.button-fill-secondary:focus,
  .button.button-fill-secondary:hover,
  .button.button-fill-secondary:focus {
    background-color: #49515f;
    border-color: #49515f; }
  button.button-fill-secondary[disabled], button.button-fill-secondary.disabled,
  .button.button-fill-secondary[disabled],
  .button.button-fill-secondary.disabled {
    opacity: 0.7;
    cursor: default;
    color: white;
    background-color: #282c34;
    border-color: #282c34; }

button.button-outline-secondary,
.button.button-outline-secondary {
  color: #282c34;
  background-color: transparent;
  border-color: #282c34; }
  button.button-outline-secondary:hover, button.button-outline-secondary:focus,
  .button.button-outline-secondary:hover,
  .button.button-outline-secondary:focus {
    background-color: #6b758a;
    border-color: #6b758a; }
  button.button-outline-secondary[disabled], button.button-outline-secondary.disabled,
  .button.button-outline-secondary[disabled],
  .button.button-outline-secondary.disabled {
    opacity: 0.7;
    cursor: default;
    color: #282c34;
    background-color: transparent;
    border-color: #282c34; }

button.button-text-secondary,
.button.button-text-secondary {
  color: #282c34;
  background-color: transparent;
  border-color: transparent; }
  button.button-text-secondary:hover, button.button-text-secondary:focus,
  .button.button-text-secondary:hover,
  .button.button-text-secondary:focus {
    color: white;
    background-color: #282c34;
    border-color: #282c34; }
  button.button-text-secondary[disabled], button.button-text-secondary.disabled,
  .button.button-text-secondary[disabled],
  .button.button-text-secondary.disabled {
    opacity: 0.7;
    cursor: default;
    color: #282c34;
    background-color: transparent;
    border-color: transparent; }

button.button-fill-tertiary,
.button.button-fill-tertiary {
  color: white;
  background-color: #fac861;
  border-color: #fac861; }
  button.button-fill-tertiary:hover, button.button-fill-tertiary:focus,
  .button.button-fill-tertiary:hover,
  .button.button-fill-tertiary:focus {
    background-color: #fce2ab;
    border-color: #fce2ab; }
  button.button-fill-tertiary[disabled], button.button-fill-tertiary.disabled,
  .button.button-fill-tertiary[disabled],
  .button.button-fill-tertiary.disabled {
    opacity: 0.7;
    cursor: default;
    color: white;
    background-color: #fac861;
    border-color: #fac861; }

button.button-outline-tertiary,
.button.button-outline-tertiary {
  color: #fac861;
  background-color: transparent;
  border-color: #fac861; }
  button.button-outline-tertiary:hover, button.button-outline-tertiary:focus,
  .button.button-outline-tertiary:hover,
  .button.button-outline-tertiary:focus {
    background-color: #fffcf5;
    border-color: #fffcf5; }
  button.button-outline-tertiary[disabled], button.button-outline-tertiary.disabled,
  .button.button-outline-tertiary[disabled],
  .button.button-outline-tertiary.disabled {
    opacity: 0.7;
    cursor: default;
    color: #fac861;
    background-color: transparent;
    border-color: #fac861; }

button.button-text-tertiary,
.button.button-text-tertiary {
  color: #fac861;
  background-color: transparent;
  border-color: transparent; }
  button.button-text-tertiary:hover, button.button-text-tertiary:focus,
  .button.button-text-tertiary:hover,
  .button.button-text-tertiary:focus {
    color: white;
    background-color: #fac861;
    border-color: #fac861; }
  button.button-text-tertiary[disabled], button.button-text-tertiary.disabled,
  .button.button-text-tertiary[disabled],
  .button.button-text-tertiary.disabled {
    opacity: 0.7;
    cursor: default;
    color: #fac861;
    background-color: transparent;
    border-color: transparent; }

.form__section,
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }

.form__group {
  margin-bottom: 10px; }

input[type='checkbox'],
input[type='radio'] {
  margin-right: 10px; }

input[type='phone'],
input[type='text'],
textarea {
  border: 2px solid #282c34;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px; }

textarea {
  max-width: 500px; }

body {
  overflow-x: hidden; }

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw; }

.h-global-inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 40px; }

#main-wp-content {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 40px; }

.center-inner {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content; }


/*# sourceMappingURL=main.chunk.css.map*/